@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Rubik", sans-serif;
}

header .NAVV {
  z-index: 10;
  height: 5.8rem;
}
header .NAVV .heroHeader .nav-link {
  font-size: 0.99rem;
  color: black;
}
header .NAVV .heroHeader .nav-link .bi {
  font-size: 0.8rem;
}
header .NAVV .heroHeader .buttons {
  font-size: 1.4rem !important;
}
header .NAVV .heroHeader .buttons .btn-outline-dark {
  padding: 1rem 3rem;
}
header .NAVV .heroHeader .buttons .btn-danger {
  border: 1px solid black;
  padding: 1rem 2.2rem;
}

@media (max-width: 1398px) {
  .heroHeader {
    background-color: transparent !important;
  }
  .nav-link {
    white-space: nowrap;
    color: #AC020C !important;
    padding-left: 2rem !important;
    width: 100%;
  }
  .buttons {
    white-space: nowrap;
    transform: translateX(-3rem);
    padding: 2rem !important;
  }
}
@media (max-width: 990px) {
  .heroHeader {
    background-color: #F5CFCF !important;
  }
}